img.Wave1 {
    position: relative;
    width: 100vw;
    opacity: 0.05;
    z-index: -100;
    bottom: -50px;
}
img.Wave2 {
    position: relative;
    width: 100vw;
    opacity: 0.05;
    z-index: -100;
    bottom: 5px;
    bottom: -45px;
}
img.footerWave {
    position: relative;
    bottom: -15px;
}

footer {
    width: 100vw;
    height: 100px;
    padding: 0 4vw;
    background-color: $blue-color;
    @include centerFlex(row, center);
    h1 {
        color: white;
    }
}
