.home {
    &__firstSection,
    &__secondSection {
        z-index: 0;
        min-height: calc(var(--vh, 1vh) * 100);
        padding: 110px 4vw 0 4vw;
        width: 100vw;
        @include centerFlex(column, center);
        flex-wrap: wrap;
        img {
            width: 100%;
        }
        &__box {
            width: 100%;
            margin-top: 50px;
            @include centerFlex(column, center);
            h1 {
                text-align: center;
                letter-spacing: 2px;
                font-size: 1.8rem;
            }
            p {
                margin: 50px auto 0 auto;
                width: 80%;
                text-align: center;
            }
            button {
                @include button;
                width: 200px;
                margin-top: 40px;
            }
        }
    }
    &__secondSection {
        min-height: 600px;
        margin-bottom: 150px;
        @include centerFlex(row, space-around);
        &__card {
            width: 90%;
            min-height: 350px;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
            margin-top: 0;
            border-radius: 5px;
            background-color: white;
            @include centerFlex(column, space-between);
            .card__color {
                width: 100%;
                height: 50px;
                background-color: $blue-color;
                border-radius: 5px 5px 0 0;
                color: white;
                padding: 0 20px;
                @include centerFlex(row, space-between);
            }
            h2,
            p {
                width: 80%;
                margin: 20px;
            }
            h2 {
                color: black;
            }
            .card__specification {
                @include centerFlex(row, flex-start);
                width: 100%;
                padding: 20px 20px;
                span {
                    padding: 5px 15px;
                    border: 2px solid $blue-color;
                    border-radius: 20px;
                    margin: 0 5px;
                    font-size: 0.9rem;
                    color: #454545;
                }
            }
        }
    }
    &__thirdSection {
        height: 250px;
        width: 100%;
        margin: auto;
        position: relative;
        overflow: hidden;
        @include centerFlex(row, center);
        .slider {
            width: 90%;
            display: flex;
            align-items: center;
            overflow: hidden;
            margin: 0;
            transition: 1s;
            scroll-behavior: smooth;
        }
        .column {
            min-width: 25%;
            transition: 1s;
            img {
                margin: 0;
                width: 100%;
                transform: scale(0.5);
            }
        }

        button {
            position: absolute;
            width: 15px;
            height: 15px;
            border: none;
            border-style: solid;
            border-color: $blue-color;
            border-width: 0 0 3px 3px;
            transform: rotate(45deg);
            background-color: transparent;
            outline: none;
            left: 10px;
            z-index: 10;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
            &:nth-child(2) {
                left: unset;
                right: 10px;
                transform: rotate(45deg);
                border-width: 3px 3px 0 0;
            }
            &:hover {
                border-color: $orange-color;
            }
        }
    }
    &__title {
        width: 100%;
        text-align: center;
    }
}
.backgroundImageWaves {
    position: absolute;
}
@media (min-width: 1024px) {
    .home {
        &__firstSection,
        &__secondSection {
            @include centerFlex(row, center);
            padding: 0px 4vw 0 4vw;
            img {
                width: 60%;
            }
            &__box {
                width: 350px;
            }
        }
        &__secondSection {
            @include centerFlex(row, space-around);
            &__card {
                width: 60%;
                height: 350px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2);
            }
        }
        &__thirdSection {
            transition: 1s;
            width: 80%;
            .slider {
                width: 60%;
            }
            .column {
                img {
                    transform: scale(0.3);
                    transition: 0.3s ease;
                    &:hover {
                        transform: scale(0.4);
                    }
                }
            }
            button {
                width: 25px;
                height: 25px;
                border-width: 0 0 5px 5px;
                &:nth-child(2) {
                    border-width: 5px 5px 0 0;
                }
            }
        }
    }
}
