nav {
    width: 100vw;
    height: 120px;
    padding: 45px 6vw 0 6vw;
    background-color: white;
    @include centerFlex;
    align-items: flex-start;
    position: fixed;
    z-index: 99;
    transition: 0.7s ease;

    h3 {
        margin-right: 20px;
    }

    p {
        font-size: 1rem;
        color: black;
        font-weight: 500;
        margin: 0 5px;
        letter-spacing: 1px;
        position: relative;
        cursor: pointer;
    }

    .nav__user {
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        width: 0px;
        height: 0px;
        margin-top: 12px;
        margin-right: 20px;
        cursor: pointer;
        z-index: 11;
        border-radius: 2px;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 10px solid transparent;
        border-top: 8px solid black;

        &:hover {
            border-top-color: $blue-color;
        }

        &:hover .nav__user--open {
            pointer-events: all;
            visibility: visible;
            outline: none;
            -webkit-tap-highlight-color: transparent;
        }

        &--open {
            visibility: hidden;
            outline: none;
            -webkit-tap-highlight-color: transparent;
            pointer-events: none;
            top: 10px;
            left: -190px;
            position: absolute;
            height: 100px;
            width: 200px;
            border: 5px;
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
            background-color: white;
            @include centerFlex(column, space-around);
            cursor: default;
            border-radius: 5px;
            z-index: 20;

            h5 {
                font-size: 15px;
                letter-spacing: 0px;
                text-align: start;
                width: 95%;
                padding: 10px;
                border-radius: 5px;

                &:hover {
                    background-color: rgba(245, 245, 245, 0.863);
                    cursor: pointer;
                }

                &:nth-child(1) {
                    font-size: 12px;
                    color: gray;
                    cursor: default;
                    position: relative;

                    &:hover {
                        background-color: white;
                        pointer-events: none;
                    }
                }
            }
        }
    }

    .nav__pageList {
        width: 100%;
        @include centerFlex(row, flex-start);

        p {
            &:nth-child(1) {
                cursor: default;
                font-size: 1.5rem;
                color: #3659a2;
            }
        }

        &__mobile {
            height: 85%;
            width: 100%;
            position: absolute;
            @include centerFlex(column, center);
            z-index: 10;

            img {
                width: 300%;
                position: absolute;
                animation: showNaviListImage 1s 0.5s both;
            }

            h2 {
                margin: 20px;
                text-align: center;
                animation: showNaviListElements 1s 0.5s both;
                cursor: pointer;
            }
        }
    }

    &.--active {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        height: 50px;
        padding-top: 10px;
    }

    &.--open {
        height: 100%;
        width: 100vw;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
        @include centerFlex(row, center);
        align-items: flex-start;
        z-index: 20;
    }
}

.nav__logInButtons {
    width: 100%;
    @include centerFlex(column, center);

    .nav__user {
        margin-top: 20px;
    }

    a {
        margin: 0;

        &:nth-child(1) {
            button {
                background-color: white;
                color: $blue-color;
                border: 1px solid $blue-color;
            }
        }

        button {
            @include button;
            width: 150px;
            margin: 20px;
            animation: showNaviListElements 0.5s 0.5s both;
        }
    }
}

.nav__hamburger {
    width: 25px;
    height: 30px;
    @include centerFlex(row, flex-end);
    cursor: pointer;
    outline: none;
    z-index: 100;
    -webkit-tap-highlight-color: transparent;
}

.hamburgerMenu {
    width: 25px;
    height: 2px;
    background-color: black;
    position: relative;
    transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;

    &::before,
    &::after {
        position: absolute;
        content: "";
        width: 25px;
        height: 2px;
        background-color: black;
        transform: translateY(7px);
        transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;
    }

    &::after {
        transform: translateY(-7px);
    }

    &.open {
        transform: translate(-7px);
        background: transparent;
        transition: cubic-bezier(0.39, 0.575, 0.565, 1) 0.5s;

        &::before {
            transform: rotate(-45deg) translate(7px, 7px);
        }

        &::after {
            transform: rotate(45deg) translate(7px, -7px);
        }
    }
}

@media (min-width: 1024px) {
    nav {
        padding: 45px 4vw 0 4vw;

        &.--active {
            box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
            height: 58px;
            padding-top: 10px;
        }

        p {
            font-size: 1.2rem;
            margin: 0 01px;

            &:hover {
                color: $blue-color;
            }
        }

        .nav__pageList {
            width: 100%;

            p {
                margin: 0 25px;

                &:nth-child(1) {
                    font-size: 2rem;
                    margin-right: 100px;
                }
            }
        }
    }

    .nav__logInButtons {
        width: 200px;
        @include centerFlex(row, flex-end);
        animation: none;

        h3 {
            margin-right: 30px;
            margin-top: 5px;
            font-size: 16px;
        }

        .nav__user {
            margin-top: 15px;
        }

        a {
            button {
                @include button;
                animation: none;
            }
        }
    }
}

@keyframes showNaviListElements {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes showNaviListImage {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.15;
    }
}