@import url("https://fonts.googleapis.com/css2?family=Exo:wght@300;400;500&display=swap");
@import "./variables";
@import "../components/Header/headerStyle";
@import "../containers/Home/homeStyle";
@import "../components/Footer/footerStyle";
@import "../containers/Topics//topicsStyle";
@import "../containers/Authentication/Login/loginStyle";
@import "../components/Spinner/spinner";

* {
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: "Exo", sans-serif;
    animation: enterPage 1s ease;
}
p {
    color: rgb(69, 69, 69);
}
a {
    font-size: 1.3rem;
    text-decoration: none;
    color: black;
    margin: 30px;
}
.active {
    color: $orange-color;
}

@keyframes enterPage {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
