.posts {
    padding-top: 250px;
    width: 100vw;
    @include centerFlex(column, space-around);
    position: relative;

    h1 {
        margin: 20px;
        font-size: 1.5rem;
    }
    &__description {
        @include centerFlex(row, center);
        h2 {
            width: 150px;
            text-align: center;
        }
    }
    h3 {
        color: red;
    }

    &__search {
        @include centerFlex(row, center);
        width: 100vw;
        height: 100px;
        align-items: baseline;

        h1 {
            text-align: center;
        }

        div {
            min-width: 150px;
            height: 40px;
            padding: 10px;
            margin: 20px 5px 0 5px;
            border: 1px solid $blue-color;
            border-radius: 5px;
            position: relative;
            @include centerFlex(column, flex-start);
            align-items: flex-start;
            cursor: pointer;
            transition: 0.5s ease;
            overflow: hidden;
            pointer-events: none;
            -webkit-tap-highlight-color: transparent;
            background-color: white;
            z-index: 19;
            position: relative;
            p {
                padding-top: 10px;
                color: black;
                width: 100%;
                font-weight: 500;

                &:hover {
                    width: 100%;
                    color: #3659a2;
                    cursor: pointer;
                }
            }

            span {
                position: absolute;
                content: "";
                border-radius: 2px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 9px solid transparent;
                border-top: 7px solid black;
                right: 5px;
                top: 14px;
                pointer-events: all;
            }
        }

        .--open {
            min-width: 150px;
            height: 190px;
            padding: 10px;
            border: 1px solid $blue-color;
            border-radius: 5px;
            position: relative;
            @include centerFlex(column, flex-start);
            align-items: flex-start;
            background-color: white;
            pointer-events: all;
            z-index: 21;

            span {
                position: absolute;
                content: "";
                border-radius: 2px;
                border-left: 7px solid transparent;
                border-right: 7px solid transparent;
                border-bottom: 7px solid black;
                border-top: 9px solid transparent;
                right: 5px;
                top: 5px;
                pointer-events: all;
            }

            &:nth-child(1) {
                height: 455px;
            }
        }
    }

    &__searchButton {
        @include button;
        min-width: 150px;
        margin: 20px auto 100px auto;
        z-index: 18;
    }

    &__element {
        width: 90%;
        height: 300px;
        margin: 20px 0;
        @include centerFlex(column center);
        a {
            min-width: 100%;
        }
        .card_box {
            width: 100%;
            height: 100%;
            min-height: 250px;
            transition: 0.3s ease;
            cursor: pointer;
            margin: auto;

            p {
                word-wrap: break-word;
                max-height: 30%;
                overflow: hidden;
                font-size: 13px;
            }
            h2 {
                font-size: 16px;
            }
        }
    }

    &__elementsList {
        @include centerFlex(column, center);
        flex-wrap: wrap;
        width: 100vw;
        position: relative;
        background-color: #ecf0f9;
        min-height: 200px;
        .posts__wave {
            position: absolute;
            bottom: 99%;
            width: 100vw;
            z-index: -10;
        }
        .posts__wave-last {
            position: absolute;
            top: 99%;
            width: 100vw;
            z-index: -10;
        }
    }

    &__pagination {
        width: 100vw;
        @include centerFlex(row, center);
        margin-top: 50px;
        z-index: 20;

        h4 {
            margin: 0px;
            cursor: pointer;
            height: 40px;
            width: 40px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            -webkit-tap-highlight-color: transparent;

            &.--active {
                background: $blue-color;
                color: white;
            }
        }
    }
    &__paginationInfo {
        color: gray;
        font-weight: 500;
        margin: 5px;
    }

    &__paginationButton {
        width: 15px;
        height: 15px;
        border: none;
        border-style: solid;
        border-color: $blue-color;
        border-width: 0 0 3px 3px;
        transform: rotate(45deg);
        background-color: transparent;
        outline: none;
        z-index: 10;
        -webkit-tap-highlight-color: transparent;
        cursor: pointer;
        margin: 20px;
        border-radius: 3px;

        &:last-child {
            transform: rotate(45deg);
            border-width: 3px 3px 0 0;
        }

        &:hover {
            border-color: $orange-color;
        }
    }
}

@media (min-width: 1024px) {
    .posts {
        padding-top: 200px;
        &__description {
            @include centerFlex(row, center);
            h2 {
                width: 190px;
                text-align: center;
            }
        }
        &__search {
            div {
                margin: 20px 20px 0 20px;
            }
        }

        &__searchButton {
            margin: 50px auto 100px auto;
            width: 200px;
            height: 40px;
        }
        &__element {
            width: 50%;
            margin: 0;
            height: 350px;
            transition: 0.3s ease;
            transform: scale(0.7);
            &:hover {
                transform: scale(0.75);
            }
            .card_box {
                width: 100%;
                height: 100%;
                cursor: pointer;
                h2 {
                    font-size: 20px;
                }
                p {
                    word-wrap: break-word;
                    font-size: 16px;
                }
            }
        }

        &__elementsList {
            @include centerFlex(row, center);
            .posts__wave {
                top: -200px;
            }
            .posts__wave-last {
                bottom: -200px;
            }
        }
        &__pagination {
            h4 {
                margin: 20px;
                height: 40px;
                width: 40px;
            }
        }
        &__paginationInfo {
            margin: 20px;
        }

        &__paginationButton {
            width: 15px;
            height: 15px;
            border: none;
            border-style: solid;
            border-color: $blue-color;
            border-width: 0 0 3px 3px;
            transform: rotate(45deg);
            background-color: transparent;
            outline: none;
            z-index: 10;
            -webkit-tap-highlight-color: transparent;
            cursor: pointer;
            margin: 20px;
            border-radius: 3px;

            &:last-child {
                transform: rotate(45deg);
                border-width: 3px 3px 0 0;
            }

            &:hover {
                border-color: $orange-color;
            }
        }
    }
}
